@using MvcFileUploader.HtmlHelper
@using MvcFileUploader.Models
@{
    ViewBag.Title = "Page 1";
}

<h3>Upload Files</h3>
<hr/>
<div class="container">
    <div class="well">
          @(Html.MvcFileUpload()
          .UploadAt(Url.Action("UploadFile", "MultiFileUpload"))
          .UIStyle(UploadUI.Bootstrap)
          .WithMaxFileSize(512000).DisableImagePreview()
          .RenderInline("_MvcFileupload"))
    </div> 
</div>

