@using MvcFileUploader.HtmlHelper
@using MvcFileUploader.Models
@{
    ViewBag.Title = "Page 1";
}


<div class="well">
    @(Html.MvcFileUpload()
     .UploadAt(Url.Action("UploadFile", "MultiFileUpload"))
      .UIStyle(UploadUI.Bootstrap)
      .WithFileTypes(@"/(\.|\/)(jpe?g|png)$/i")
      .WithMaxFileSize(5000000).DisableImagePreview()
          .RenderInline("_MvcFileupload"))
</div>
