<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://sigmaemr.johemgroup.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>violet.arvixe.com:8172</MSDeployServiceURL>
    <DeployIisAppPath>sigmaemr.johemgroup.com</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>sigmaemr_roupcom_pub</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=violet.arvixe.com;Initial Catalog=testAppdb;User ID=peterdefin;Password=anderson" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-TestApp-20150918094938.mdf;Initial Catalog=aspnet-TestApp-20150918094938;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-TestApp-20150918094938.mdf;Initial Catalog=aspnet-TestApp-20150918094938;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="TestAppConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=violet.arvixe.com;Initial Catalog=testAppdb;User ID=peterdefin;Password=anderson" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=PETER;Initial Catalog=TestApp;Persist Security Info=True;User ID=sa;Password=edikep2000" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\TestAppConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=PETER;initial catalog=TestApp;persist security info=True;user id=sa;password=edikep2000" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=violet.arvixe.com;Initial Catalog=testAppdb;User ID=peterdefin;Password=anderson</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TestAppConnection-Web.config Connection String">
      <ParameterValue>Data Source=violet.arvixe.com;Initial Catalog=testAppdb;User ID=peterdefin;Password=anderson</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>